# Environnement virtuel
env/
venv/
ENV/
.venv/

# Variables d'environnement
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.egg-info/
*.egg

# Flask / SQLAlchemy
instance/
*.db
*.sqlite3

# Alembic migrations (optionnel de les ignorer)


# Logs
*.log

# IDE / éditeurs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/
.tox/
